* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: #eee;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 25px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 22px;
  margin-bottom: 35px;
}

p {
  margin: 0;
}
small {
  font-size: 14px;
  font-style: italic;
}