header {
  background-color: $grey;
  width: 100%;
  height: 60px;

  nav {
    padding: 15px 0;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    @extend .list-reset;

    li {
      border-right: 2px solid $silver;
      &:last-child {
        border-right: none;
      }
    }

    a {
      color: $white;
      line-height: 30px;
      font-size: 18px;
      padding: 30px 25px 30px;
    }

  }
}